.hero {
  position: relative;
  height: 80vh;
  width: 162%;
  overflow: hidden;
  margin-top: 20px;
}

.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.top-bar {
  text-align: center;
  font-size: 14px;
  padding: 8x 0;
  border-bottom: 1px solid #000000;
}

.navbar {
  padding: 15px 40px;
  border-bottom: 1px solid #000000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  height: 50px;
  width: auto;
  display: block;
}

.search {
  position: fixed;
  right: 135px;
  top: 55px;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #000000;
  width: 200px;
}

.icons {
  position: absolute;
  right: 40px;
  top: 58px;
  display: flex;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  font-size: 14px;
}

.menu a {
  text-decoration: none;
  color: #000000;
}

.menu a:hover {
  text-decoration: underline;
}


/*.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  letter-spacing: 4px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}
