.hero {
  position: fixed;
  top: 60px; /* height of your navbar */
  left: 0;
  height: 97vh;
  width: 100%;
  overflow: hidden;
}


.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
