.navbar {
  position: fixed;
  top: 72px;
  left: 0;
  width: 97%;
  z-index: 999;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
  border-bottom: 1px solid #eee;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  white-space: nowrap;
}

.menu a:hover {
  border-bottom: 2px solid #000000;
}

.icons {
  display: flex;
  gap: 18px;
  cursor: pointer;
}

.icons svg:hover {
  opacity: 0.7;
}
