.sale-products {
  padding: 40px 0px;
  background: #fdfdfd;
}

.sale-products h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 200px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .hover-img {
  opacity: 1;
}

.image-wrapper:hover .main-img {
  opacity: 0;
}

.product-card h4 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
/*
.slider-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #eee;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 2;
}

.slider-btn.left {
  left: -18px;
}

.slider-btn.right {
  right: -18px;
}

